button {

	font-size: 17px;
	background-color: #4285F4;;
	padding: 12px 24px;
	border-radius: 4px;
	color: #ffffff;
	font-weight: 600;
	text-decoration: none;
	border: 0px solid;
	cursor: pointer;

}

.buttonLink {
	
	font-size: 17px;
	background-color: #f6f6f6;
	padding: 12px 24px;
	border-radius: 4px;
	color: #000000;
	font-weight: 600;
	text-decoration: none;

}