button {

	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
	background-color: $tweather-white;
	padding: 12px 24px;
	color: $tweather-purple;	
	font-weight: 600;
	text-decoration: none;
	border: 0px solid;
	cursor: pointer;
	width: 100%;

}

.buttonLink {
	
	font-size: 17px;
	background-color: #f6f6f6;
	padding: 12px 24px;
	border-radius: 4px;
	color: #000000;
	font-weight: 600;
	text-decoration: none;

}