@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300|Quicksand&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


h3 {
	
		font-family: 'Quicksand', sans-serif;
		font-size: 28px;
		line-height: 48px;
		font-weight: 400;
		color: $tweather-white;

}


h4 {

		font-family: 'Quicksand', sans-serif;
		font-size: 14px;
		color: $tweather-white;	
		font-weight: 600;
		margin: 24px 0px;	

}

p {
	
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 400;
		font-size: 17px;
		color: $tweather-white;

}


a {
	
		font-family: 'Josefin Sans', sans-serif;
		font-size: 17px;

}


.hero {

		h1 {
			
				font-family: 'Quicksand', sans-serif;
				font-size: 120px;
				line-height: 180px;
				font-weight: 500;
				color: $tweather-white;
				text-align: center;

		}

		p {
	
				font-family: 'Josefin Sans', sans-serif;
				font-size: 24px;
				font-weight: 400;
				color: $tweather-white;
				text-align: center;

		}

}


.results {
	
		h1 {

			font-family: 'Quicksand', sans-serif;
			font-size: 100px;
			color: $tweather-white;
			font-weight: 100;
			text-align: center;

		}

}


footer {

		p {
			display: block;
			text-align: center;
			margin: 32px auto;
			font-size: 14px;
		}

}