.hero {

		h1 {
			
				font-family: 'Quicksand', sans-serif;
				font-size: 120px;
				line-height: 180px;
				font-weight: 500;
				color: $tweather-white;
				text-align: center;

		}

		p {
	
				font-family: 'Josefin Sans', sans-serif;
				font-size: 24px;
				font-weight: 400;
				color: $tweather-white;
				text-align: center;

		}

}

h3 {
	
		font-family: 'Quicksand', sans-serif;
		font-size: 28px;
		line-height: 48px;
		font-weight: 400;
		color: $tweather-white;

}


h4 {

		font-family: 'Quicksand', sans-serif;
		font-size: 14px;
		color: $tweather-white;	
		font-weight: 600;
		margin: 24px 0px;	

}

p {
	
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 400;
		font-size: 17px;
		color: $tweather-white;

}


label {
	
		font-family: 'Quicksand', sans-serif;
		font-size: 14px;
		color: $tweather-white;	
		font-weight: 600;
}

input {
	
		font-family: 'Josefin Sans', sans-serif;
		font-size: 24px;
		font-weight: 300;
		color: $tweather-white;		
}

a {
	
		font-family: 'Josefin Sans', sans-serif;
		font-size: 17px;

}

footer {

		p {
			display: block;
			text-align: center;
			margin: 32px auto;
			font-size: 14px;
		}

}