h3 {
	
		font-family: 'Spartan', sans-serif;
		font-size: 28px;
		line-height: 48px;
		font-weight: 400;
		color: #000000;

}


h4 {

		font-family: 'Spartan', sans-serif;
		font-size: 14px;
		color: #000000;	
		font-weight: 600;
		margin: 24px 0px;	

}

p {
	
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 17px;
		color: #000000;

}


label {
	
		font-family: 'Spartan', sans-serif;
		font-size: 14px;
		color: #000000;	
		font-weight: 600;
}

input {
	
		font-family: 'Roboto', sans-serif;
		font-size: 17px;
		font-weight: 300;
		color: #000000;		
}

a {
	
		font-family: 'Roboto', sans-serif;
		font-size: 17px;

}

footer {

		p {
			display: block;
			text-align: center;
			margin: 32px auto;
			font-size: 14px;
		}

}