main {

	padding: 0px 300px;

}

form {
    border: 1px solid #979797;
    border-radius: 4px;
    padding: 40px;
}

results {
    margin: 0px 100px
}

input {

    padding: 16px 20px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    width: 100%;
    line-height: 16px;
    margin-bottom: 16px;
    margin-top: 12px;

}

.thoughts {
	
	margin-top: 100px;
	margin-bottom: 300px;

}