main {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 800px;
    padding: 0;
    margin: 100px auto;

}

section {
	
	margin: 25px 0px;

}

#destination, #departure {
	
	margin-bottom: 32px;

}
